@model TicketStationMVC.Data.Entities.Category

@{
    ViewData["Title"] = "Details";
}


<div class="container-md my-2 custom-container">
    <div class="row">
        <p class="lead mt-5 mb-1">@Model.GetType().Name Details</p>
        <div class="col d-flex justify-content-between align-items-center mt-1 mb-3">
            <div>
                <h1>@Model.Name</h1>
            </div>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <a class="btn btn-primary" asp-action="Index" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Back to list"><i class="bi bi-arrow-left"></i></a>
                <a class="btn btn-primary btn-success" asp-action="Edit" asp-route-id="@Model?.Id" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit"><i class="bi bi-pen"></i></a>
                <a class="btn btn-primary btn-danger" asp-action="Delete" asp-route-id="@Model?.Id" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"><i class="bi bi-trash"></i></a>
            </div>
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.CreatedAt)</th>
                <th>@Html.DisplayNameFor(model => model.ModifiedAt)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.Name)</td>
                <td>@Html.DisplayFor(model => model.CreatedAt)</td>
                <td>@Html.DisplayFor(model => model.ModifiedAt)</td>
            </tr>
        </tbody>
    </table>
</div>

<style>
    .table tr > *{
        padding-left:1rem;
    }
</style>

