@model IEnumerable<TicketStationMVC.Data.Entities.Category>

@{
    ViewData["Title"] = "Index";
}

<div class="container-md my-2 custom-container">
    <div class="row">
        <div class="col d-flex justify-content-between align-items-center mt-5 mb-3">
            <h1>Categories</h1>
            <a class="btn btn-primary btn my-3" asp-action="Create">
                <i class="bi bi-plus-circle"></i> New Category
            </a>
        </div>

    </div>
    <form method="get" class="bg-light shadow d-flex justify-content-start align-items-end mb-3 py-4 px-5">
        <div class="form-group ms-5" >
            <label class="text-dark" for="categoryFilter">Name: </label>
            <input type="text" id="categoryFilter" name="categoryFilter" class="form-control rounded-0 rounded-start" value="@ViewBag.categoryFilter" />
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn btn-warning rounded-0 " style="width: 100%;" />
        </div>
        <div class="form-group me-5">
            <a class="btn btn-secondary rounded-0 rounded-end me-5" style="width: 100%;" asp-controller="Category" asp-action="Index">Clear filtering</a>
        </div>
    </form>
    <div class="container border border-1 rounded">
        <div class="row align-items-center justify-content-between py-2 border-bottom border-1 fw-bold">
            <div class="col-6">@Html.DisplayNameFor(model => model.Name)</div>
            <div class="col-4 d-flex justify-content-end">Actions</div>
        </div>
        @foreach (var item in Model)
        {
            <div class="row align-items-center justify-content-between py-2 border-bottom">
                <div class="col-6">@Html.DisplayFor(model => item.Name)</div>
                <div class="col-4 d-flex justify-content-end">
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">View more</a>
                        <a class="btn btn-outline-primary btn-outline-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-outline-primary btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
