@model IEnumerable<TicketStationMVC.Data.Entities.Category>

@{
    ViewData["Title"] = "Index";
}

<div class="container-md my-2 custom-container">
    <div class="row">
        <div class="col d-flex justify-content-between align-items-center mt-5 mb-3">
            <h1>Categories</h1>
            <a class="btn btn-primary btn my-3" asp-action="Create">
                <i class="bi bi-plus-circle"></i> New Category
            </a>
        </div>

    </div>
    <div class="container border border-1 rounded">
        <div class="row align-items-center justify-content-between py-2 border-bottom border-1 fw-bold">
            <div class="col-6">@Html.DisplayNameFor(model => model.Name)</div>
            <div class="col-4 d-flex justify-content-end">Actions</div>
        </div>
        @foreach (var item in Model)
        {
            <div class="row align-items-center justify-content-between py-2 border-bottom">
                <div class="col-6">@Html.DisplayFor(model => item.Name)</div>
                <div class="col-4 d-flex justify-content-end">
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">View more</a>
                        <a class="btn btn-outline-primary btn-outline-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-outline-primary btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
