@model TicketStationMVC.ViewModels.Events.EventDetailedVM

@{
    ViewData["Title"] = "Details";
}

<div class="container-md my-2 custom-container">
    <div class="row">
        <p class="lead mt-5 mb-1">Event Details</p>
        <div class="col d-flex justify-content-between align-items-center mt-1 mb-3">
            <div>
                <h1>@Model.Name</h1>
            </div>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                <a class="btn btn-primary" asp-action="Index" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Back to list"><i class="bi bi-arrow-left"></i></a>
                @if (User.IsInRole("adminuser"))
                {
                    <a class="btn btn-primary btn-success" asp-controller="Event" asp-action="Edit" asp-route-id="@Model?.Id" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Edit"><i class="bi bi-pen"></i></a>
                    <a class="btn btn-primary btn-danger" asp-controller="Event" asp-action="Delete" asp-route-id="@Model?.Id" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Delete"><i class="bi bi-trash"></i></a>
                }
            </div>
        </div>
    </div>

    <div class="container my-5">


        <div class="row g-5">
            <!-- Left Column: Event Images -->
            <div class="col-lg-6">
                <div class="event-images text-center">
                    <!-- Main Image -->
                    <img src="@Model.ImageURL" class="img-fluid mb-3" alt="Event Main Image">
                </div>
            </div>

            <!-- Right Column: Event Details -->
            <div class="col-lg-6">
                <div class="mb-4">
                    <div class="d-flex flex-wrap gap-2">
                        @if (Model.Status)
                        {
                            <span class="badge bg-success">Upcoming event</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Finished event</span>
                        }
                        @foreach (var item in Model.Categories)
                        {
                            <span class="badge bg-primary">@item</span>
                        }

                    </div>
                </div>
                <!-- Event Name -->
                <h1 class="display-6">@Model.Name</h1>
                <!-- Event Date -->
                <p class="text-muted fs-5">Date of Event: <span>@Model.DateOfEvent</span></p>
                <!-- Event Description -->
                <p class="mb-4">
                    @Model.Description
                </p>
                <!-- Event Price -->
                <p class="text-muted fs-4">Price: <span class="text-dark">&#8364;@Model.Price</span></p>
                <!-- Created By -->
                <p class="text-muted">Created By: <strong>@Model.CreatedByUsername</strong></p>

                @if (Model.Status)
                {
                    <p class="text-muted">Remaining quantity: <strong>@Model.Quantity</strong></p>
                    <!-- Quantity and Add to Cart -->
                    <form asp-action="AddEventToCart" asp-controller="Event" class="d-flex align-items-center mb-4">
                        <!-- Quantity input -->
                        <input type="hidden" asp-for="Id" />
                        <label asp-for="Quantity" class="form-label me-3">Quantity</label>
                        <input type="number" asp-for="Quantity" class="form-control w-auto me-3" min="1" value="1" />
                        <!-- Submit button -->
                        <button type="submit" class="btn btn-dark">Add to Cart</button>
                    </form>
                }
            </div>
        </div>
    </div>
</div>
