@model IEnumerable<TicketStationMVC.ViewModels.User.UserViewVM>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-5 pt-5">

    <div class="row mt-5 mb-3">
        <div class="col d-flex justify-content-between align-items-center">
            <h1>Users</h1>
            <a class="btn btn-primary btn my-3" asp-action="Create">
                <i class="bi bi-plus-circle"></i> New User
            </a>
        </div>
    </div>

    <form method="get" class="bg-light shadow d-flex justify-content-start align-items-end mb-3 py-4 px-5">
        <div class="form-group ms-5" style="width: calc(9.09% * 3);">
            <label class="text-muted" for="username-filter">Username: </label>
            <input type="text" id="username-filter" name="usernameFilter" class="form-control rounded-0 rounded-start" value="@ViewBag.UsernameVD" />
        </div>
        <div class="form-group" style="width: calc(9.09% * 2);">
            <label class="text-muted" for="email-filter">Email:</label>
            <input type="text" id="email-filter" name="emailFilter" class="form-control rounded-0" value="@ViewBag.EmailVD"/>
        </div>
        <div class="form-group" style="width: calc(9.09% * 2);">
            <select class="form-control rounded-0" name="roleIdFilter" asp-items="@ViewBag.RolesIdVD">
                <option value="-1">Select category: </option>
            </select>
        </div>
        <div class="form-group" style="width: calc(9.09% * 1);">
            <input type="submit" value="Search" class="btn btn-warning rounded-0" style="width:100%;" />
        </div>
        <div class="form-group me-5" style="width: calc(9.09% * 1.15)">
            <a class="btn btn-secondary rounded-0 rounded-end" style="width: 100%;" asp-controller="User" asp-action="Index">Clear filtering</a>
        </div>
        <br />
    </form>

    @if (!string.IsNullOrEmpty(ViewBag.UsernameVD) || !string.IsNullOrEmpty(ViewBag.EmailVD) || !string.IsNullOrEmpty(ViewBag.RoleNameVD))
    {
        <p class="fs-5 fw-light text-center p-2">
            Showing results for:
            @(!string.IsNullOrEmpty(ViewBag.UsernameVD) ? $"Username: \"{ViewBag.UsernameVD}\", " : "")
            @(!string.IsNullOrEmpty(ViewBag.EmailVD) ? $"Email: \"{ViewBag.EmailVD}\", " : "")
            @($"Role: {ViewBag.RoleNameVD}")
        </p>
    }
    <div class="row mt-3 mb-3">
        <div class="container border border-1 rounded">
            <div class="row align-items-center py-2 border-bottom border-1 fw-bold">
                <div class="col">@Html.DisplayNameFor(model => model.Name)</div>
                <div class="col">@Html.DisplayNameFor(model => model.Username)</div>
                <div class="col">@Html.DisplayNameFor(model => model.Email)</div>
                <div class="col">@Html.DisplayNameFor(model => model.RoleName)</div>
                <div class="col">Actions</div>
            </div>
            @foreach (var item in Model)
            {
                <div class="row align-items-center py-2 border-bottom">
                    <div class="col">@Html.DisplayFor(model => item.Name)</div>
                    <div class="col">@Html.DisplayFor(model => item.Username)</div>
                    <div class="col">@Html.DisplayFor(model => item.Email)</div>
                    <div class="col">@Html.DisplayFor(model => item.RoleName)</div>
                    <div class="col">
                        <div class="btn-group" role="group" aria-label="Basic outlined example">
                            <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">View more</a>
                            <a class="btn btn-outline-primary btn-outline-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-outline-primary btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
